.spinner {
  width: 80px;
  height: 80px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.spinner span {
  display: block;
  width: 80px;
  height: 80px;
  border: 3px solid transparent;
  border-radius: 50%;
  border-right-color: #4481c3;
  animation: spinner-anim 1.2s linear infinite;
}

@keyframes spinner-anim {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
